/*p {
    color: red;
  }*/

/*p {
  color: red;
  width: 500px;
  border: 1px solid black;
}*/
/*p, li, h1 {
  color: red;
}*/
/*Il est aussi possible de sélectionner plusieurs types d'éléments pour appliquer à tous une même règle
Il suffit, comme ci-dessus de placer plusieurs sélecteurs, séparés par des virgules*/
/*Les différents types de sélecteurs:
- Le sélecteur d'élem (ou sélecteur de balise, ou sélecteur de type):
      qui sélectionne tout les élém HTML d'un type donné
      ex: <p> Sélectionne tout les <p>
-Le sélecteur d'ID:
      qui sélectionne l'élém d'une page qui possède l'ID fourni (un seul élément pour un ID donné
      ex: #my-id Sélectionne <p id="my-id"> ou <a id="my-id"
-Le sélecteur de classe:
      les élem d'une page qui sont de la classe donnée (pr une donnée, il est possible d'avoir plusieurs éléments qui partagent une même classe)
      ex: .my-class sélectionne <p class="my-class"> et <a class="my-class"
-Le sélecteur d'attribut:
      qui sélectionne les élem de la page qui possède l'attribut donné
      ex: img[src] sélectionne <img src="monimage.png> mais pas <img>
Le sélecteur de pseudo-classe:
      qui sélectionne les élem donnés mais uniquement dans un certain état (par ex: quand on passe une souris dessus)
      a:hover sélectionne <a> mais uniqueemnt lorsque le pointeur de la souris est au-dessud du lien
=) Il en existe pleins d'autres sélecteurs, voir le guide sur les sélecteurs*/
html {
  font-size: 10px; /* Signifie la taille de base pr la police = 10px de haut*/
  font-family: "Open Sans", sans-serif;
  background-color: #D9D8D7; /*Pour changer la couleur de la page*/
} 
/*Ce premier ensemble de règle dft une police de base et sa taille pr toute la page.
<html> est l'élém parent de tous les élem de la page, tous les élem contenu dans la page hériterons-t de la même font-size et font-family*/

body {
  width: 600px; /*Cette déclaration impose une largeur de 600px pour le corps de la page*/
  margin: 0 auto; /*Cette règle dft les marge de l'élem bosy. Ici, on a deux valeurs pour la propriété. La première valeur est ut pour le haut et le bas de l'élem, ici 0 et la seconde valeur est ut pour les côtés gauche et droit, ici la valeur auto (elle divise l'espace horizontal disponible en part égale entre la gauche et la droite*/
  background-color: #BFBFBD; /*Cette règle détermine la couleur de fond de l'élém body*/
  padding: 0 20px 20px 20px; /*Cette règle dft les expacements interne, padding, de l'élem body. Les 4 valeurs sont spécifiées dans l'ordre sont: padding en haut (0), padding à droite (20px), padding en bas (20px), et padding à gauche (20px). Cela crée un espace de 20 px autour de l'élém body*/
  border: 5px solid #737372; /*Cette règle dft une bordure autour de l'élém body. Elle a une épaisseur de 5px, un style solid (ligne pleine) et une couleur*/
}

h1 {
  font-size: 60px;
  text-align: center; /*Pour centrer le texte*/
  margin: 0; /*Pour surcharger le style par défault du h1 et se débarasser de cet espace en haut du corps de page, on met une marge nulle*/
  padding: 20px 0; /*On ajoute 20px de padding en haut et en bas du titre*/
  color: #00539f; /*C'est la couleur de la police*/
  text-shadow: 3px /*Cette propriété permet d'applique une ombre au contenu de l'élem. La 1er correspond au décalage horizontal, en px, donc plus la valeur est élevée, plus l'ombre porte loin. Une valeur négative déplace l'ombre vers la gauche*/
  3px /*Cette valeur correspond au décalage vertical entre l'ombre et le texte, donc plus la valeur est élevée plus l'ombre va vers le bas. Une valeur négative déplace l'ombre vers le haut*/
  1px /*Cette valeur correspond au rayon de flou pour l'ombre, en px, donc plus la valeur est élevée plus l'ombre sera floue*/
  black; /*Cette valeur dft la couleur ut pour l'ombre*/
  
}

h2 {
  font-size: 30px;
  text-align: left;
  text-decoration: underline;
  margin: 0;
  padding: 10px 0;
  color: #00539f;
}

p, li {
  font-size: 16px;
  text-align: justify;
  line-height: 2; /*C'est pour donner une taille de ligne*/
  letter-spacing: 1 px; /*C'est pour donner un espacement de caractère entre les deux lettres pour que le comptenu du body soit plus lisible*/
}
/*Ensuite, fixons les tailles des différent texte contenu dans le corps du HTML, par ex: <h1> <li> <p>*/
/*Mettre en forme le corps de la page*/

img {
  display: block; 
  margin: 0 auto;
}
/*On va centrer l'image pour que ce soit plus joli. On pourrait utiliser margin: 0 auto, comme on l'a fait avant, mais on a besoin d'autre chose. 
L'élément body est un élément de bloc, cela signifie qu'il prend de l'espace et qu'on peut lui appliquer des marges et d'autres valeur pour l'espacement. 
En revanche, les images sont des éléments inline (ce qu'on pourrait traduire par « en ligne »), ce qui signifie qu'on ne peut pas leur appliquer ces valeurs d'espacement. 
Pour pouvoir appliquer des marges sur l'image comme pour un bloc, on utilise display: block; pour que l'image se comporte comme un élément de bloc.*/